body {
  background-color: pink;
  color: rgb(110, 38, 74);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
  flex-basis: 100%;
}

#wrapper {
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#content {
  flex-basis: 100%;
  text-align: center;
  max-width: 800px;
  background-color: hotpink;
}